* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "gilroy";
}

#main {
  width: 100%;
  height: 100%;
  padding-top: 0.006510416666666667vw;
  background-color: #f8f8f8;
  position: relative;
}

#nav {
  width: 100%;
  height: 12vh;
  margin-top: 2.734375vw;
  border-top: 0.13020833333333334vw solid #000;
  border-bottom: 0.13020833333333334vw solid #000;
  font-family: "montserrat";
  letter-spacing: -0.06510416666666667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  h1 {
    width: 23%;
    height: 100%;
    padding-left: 1.3vw;
    font-size: 2.9296875vw;
    font-family: "monument";
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  h1::after {
    content: "©";
    font-family: "montserrat";
    font-weight: 600;
    font-size: 1.3vw;
    position: absolute;
    top: 18%;
    right: 6.5%;
  }
  h1::before {
    content: "model management";
    font-family: "montserrat";
    font-weight: 500;
    font-size: 0.8vw;
    position: absolute;
    bottom: 11%;
    right: 15%;
  }
  h2 {
    width: 20%;
    height: 100%;
    border-right: 0.13020833333333334vw solid #000;
    font-size: 1.3020833333333333vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :nth-last-child(1) {
    width: 10%;
    border-right: 0;
    i {
      padding-right: 1.5vw;
    }
  }
  :nth-last-child(2) {
    width: 29%;
  }
}

#center {
  width: 100%;
  height: 90%;
  padding: 3vw 4vw 4vw;
  position: relative;
  #content {
    width: 100%;
    height: 100%;
    position: relative;
    #video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #overlay {
      width: 100%;
      height: 52%;
      padding: 3vw;
      position: absolute;
      bottom: 0;
      color: #fff;
      #over1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          margin-bottom: 0.7vw;
          font-family: "monument";
          font-size: 3.6vw;
        }
        h2 {
          border: 0.06510416666666667vw solid #fff;
          border-radius: 100%;
          padding: 1vw 1.3vw;
          font-size: 2vw;
        }
      }
      #over2 {
        border-top: 0.06510416666666667vw solid #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
          font-size: 1.3vw;
          font-weight: 500;
        }
      }
    }
  }
}

#marquee {
  width: 100%;
  height: 40vh;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  .container {
    width: 100%;
    height: 100%;
    display: inline-block;
    animation-name: marquee-animation;
    animation-duration: 15s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    .inside-container {
      width: calc(100% / 13);
      height: 100%;
      margin: 0 0.2vw;
      padding: 0 0.5vw;
      display: inline-block;
      img {
        width: 115%;
        height: 70%;
        margin: 1.5vw 0 0.5vw;
        border-radius: 50%;
        object-fit: cover;
      }
      h3 {
        width: 100%;
        height: 100%;
        padding: 0 0.5vw;
        font-size: 1.1067708333333333vw;
        text-align: center;
      }
    }
  }
}

@keyframes marquee-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#alphabet {
  width: 100%;
  height: 11vh;
  margin: 3.2vw 0;
  border-top: 0.13020833333333334vw solid #000;
  border-bottom: 0.13020833333333334vw solid #000;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
  position: relative;
  h5 {
    margin-right: 2vw;
    border-bottom: 0.13020833333333334vw solid #000000;
    font-size: 2.2vw;
    font-weight: 500;
    letter-spacing: 0.1953125vw;
  }
  h6 {
    border: 0.06510416666666667vw solid #00000000;
    border-radius: 100%;
    padding: 0.4vw 0.7vw;
    font-size: 1.2vw;
    font-weight: 500;
    transition: all ease 0.2s;
  }
  h6:hover {
    border: 0.06510416666666667vw solid #000;
    cursor: pointer;
  }
}

#page2 {
  width: 100%;
  height: 100%;
  padding: 0 4.5vw;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 57% 43%;
  position: relative;
  #page2-part1 {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 35% 35%;
    }
  }
  #page2-part2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 77% 23%;
    grid-template-columns: 90%;
    img {
      width: 100%;
      height: 100%;
      margin-left: 3.9vw;
      object-fit: cover;
      object-position: 0% 0%;
    }
    #page2-part2-text {
      width: 100%;
      height: 100%;
      margin-left: 3.9vw;
      padding-top: 1.7vw;
      font-family: "montserrat";
      display: grid;
      grid-template-rows: 100% 100%;
      grid-template-columns: 35% 55%;
      h2 {
        width: 100%;
        height: 100%;
        font-size: 1.4322916666666667vw;
        font-weight: 500;
        letter-spacing: -0.06510416666666667vw;
      }
      h4 {
        width: 103%;
        height: 100%;
        margin-left: 2.9vw;
        font-weight: 500;
      }
    }
  }
}

#vogue-shot-heading {
  width: 100%;
  height: auto;
  font-family: "monument";
  position: relative;
  h1 {
    width: 100%;
    height: 100%;
    padding: 1.7vw 0 1.7vw 4.2vw;
    letter-spacing: 0.13020833333333334vw;
  }
}

#page3 {
  width: 100%;
  height: 100%;
  padding: 1.8vw 4.3vw;
  display: flex;
  position: relative;
  #page3-part1 {
    width: 83%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img {
      margin-top: calc(100% / 5);
    }
    h2 {
      font-family: "montserrat";
      font-size: 1.4322916666666667vw;
      font-weight: 500;
      letter-spacing: -0.06510416666666667vw;
    }
  }
  #page3-part2 {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 45% 45%;
    }
  }
}

#lady-in-orange {
  width: 100%;
  height: 100%;
  padding: 3vw 4.2vw 0;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

#updates-heading {
  width: 100%;
  height: auto;
  font-family: "monument";
  position: relative;
  h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 7vw 0 4.8vw 0;
    letter-spacing: 0.13020833333333334vw;
  }
}

#below-updates {
  width: 100%;
  height: 100%;
  padding: 0 4.2vw;
  font-family: "montserrat";
  display: flex;
  flex-direction: column;
  position: relative;
  .below-updates-elements {
    width: 100%;
    height: calc(100% / 4.5);
    border-top: 0.13020833333333334vw solid #000;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    h2 {
      width: 9vw;
      height: 14vh;
      font-size: 1.4322916666666667vw;
      letter-spacing: -0.06510416666666667vw;
      font-weight: 500;
    }
    img {
      width: 15%;
      height: 85%;
      object-fit: cover;
      object-position: top;
      border-radius: 100%;
    }
    .inside-below-updates-elements {
      width: 50%;
    }
    .next-to-special-view {
      width: 14%;
    }
    .inside-below-updates-elements,
    .next-to-special-view {
      height: auto;
      line-height: 1.4;
      h1 {
        font-size: 2.34375vw;
        letter-spacing: -0.06510416666666667vw;
        font-weight: 500;
      }
      h4 {
        font-weight: 600;
      }
    }
  }
  .below-updates-elements:last-child {
    border-bottom: 0.13020833333333334vw solid #000;
  }
}

#page4 {
  width: 100%;
  height: 100%;
  padding: 4.2vw;
  display: flex;
  position: relative;
  #page4-part1 {
    width: 45%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  #page4-part2 {
    width: 55%;
    height: 100%;
    padding-left: 3vw;
    position: relative;
    #page4-part2-element1 {
      width: 100%;
      height: 50%;
      font-family: "montserrat";
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      h1 {
        width: 100%;
        height: auto;
        padding-bottom: 1.8vw;
        font-family: "monument";
        letter-spacing: 0.06510416666666667vw;
        text-align: left;
      }
      h2 {
        width: 45%;
        height: auto;
        padding-bottom: 1.8vw;
        font-size: 1.3671875vw;
        letter-spacing: -0.06510416666666667vw;
        font-weight: 500;
      }
      h4 {
        width: 100%;
        height: auto;
        padding-bottom: 2.3vw;
        font-size: 1.1067708333333333vw;
        font-weight: 500;
      }
    }
    #page4-part2-element2 {
      width: 100%;
      height: 50%;
      display: flex;
      position: relative;
      img {
        width: calc(100% / 2);
        height: 100%;
        object-fit: cover;
        object-position: 0% 0%;
      }
      img:last-child {
        padding-left: 1.5vw;
      }
    }
  }
}

#orange-jacket-girl {
  width: 100%;
  height: 100%;
  padding: 1vw 4.2vw;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#page5 {
  width: 100%;
  height: 100%;
  padding: 4.2vw 4.2vw 0;
  display: flex;
  position: relative;
  #page5-part1 {
    width: 55%;
    height: 100%;
    margin-right: 3vw;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 30% 30%;
    }
  }
  #page5-part2 {
    width: 45%;
    height: 100%;
    position: relative;
    #page5-part2-element1 {
      width: 100%;
      height: 70%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    #page5-part2-element2 {
      width: 100%;
      height: 30%;
      padding-top: 2vw;
      font-family: "montserrat";
      display: flex;
      justify-content: space-between;
      position: relative;
      h2 {
        width: 30%;
        height: 100%;
        font-size: 1.3997395833333333vw;
        font-weight: 500;
        letter-spacing: -0.06510416666666667vw;
      }
      h4 {
        width: 50%;
        height: 100%;
        font-weight: 500;
      }
    }
  }
}

#marquee2 {
  width: 100%;
  height: auto;
  padding: 4.8vw 0;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  .marquee2-elements {
    width: 100%;
    height: 100%;
    padding-right: 0.5vw;
    display: inline-block;
    animation-name: marquee-animation;
    animation-duration: 15s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    h1 {
      border: 0.06510416666666667vw solid #000;
      width: calc(100% / 3);
      height: 100%;
      display: inline-block;
      font-size: 2.1484375vw;
      font-family: "monument";
      background-color: rgba(128, 128, 128, 0.116);
      -webkit-text-stroke: 0.06510416666666667vw white;
      text-align: center;
    }
  }
}

#page6 {
  width: 100%;
  height: 100%;
  padding: 0 4.2vw;
  display: flex;
  position: relative;
  #page6-heading {
    width: 40%;
    height: 100%;
    position: relative;
    h1 {
      width: 100%;
      height: 100%;
      font-family: "monument";
      letter-spacing: 0.06510416666666667vw;
    }
  }
  .page6-elements {
    width: 100%;
    height: 100%;
    margin-left: 5vw;
    display: grid;
    grid-template-rows: 22% 50%;
    grid-template-columns: 100%;
    position: relative;
    h2 {
      width: 100%;
      height: 100%;
      font-family: "montserrat";
      font-size: 1.3671875vw;
      letter-spacing: -0.06510416666666667vw;
      font-weight: 500;
      line-height: 1.35;
      position: relative;
    }
    h2::before {
      content: "B";
      margin-right: 0.6vw;
      border: 0.13020833333333334vw solid #000;
      border-radius: 100%;
      padding: 0.15vw 0.7vw;
      font-size: 1.0416666666666667vw;
      position: relative;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      object-position: top;
      position: relative;
    }
  }
}

#footer {
  width: 100%;
  height: 30vh;
  border-top: 0.13020833333333334vw solid #000;
  border-bottom: 0.13020833333333334vw solid #000;
  padding-left: 4.2vw;
  font-family: "montserrat";
  letter-spacing: -0.06510416666666667vw;
  display: flex;
  position: relative;
  #footer-heading {
    width: auto;
    height: 5.5vh;
    margin: 0.9vw 2.6vw 0 0;
    font-family: "monument";
    position: relative;
  }
  #footer-heading::after {
    content: "©";
    font-family: "montserrat";
    font-size: 1vw;
    position: absolute;
    top: -5%;
    right: -9%;
  }
  #footer-heading::before {
    content: "model management";
    font-family: "montserrat";
    font-weight: 500;
    font-size: 0.8vw;
    position: absolute;
    bottom: -15%;
    right: 2%;
  }
  .footer-elements {
    width: 25%;
    height: 100%;
    border-right: 0.13020833333333334vw solid #000;
    padding-top: 1.2vw;
    font-size: 1.3020833333333333vw;
    font-weight: 500;
    text-align: center;
    position: relative;
  }
  #footer-last-child {
    width: auto;
    height: 100%;
    position: relative;
    h2 {
      width: 100%;
      height: 33%;
      border-bottom: 0.13020833333333334vw solid #000;
      padding: 1.2vw 5.2vw 0 0;
      font-size: 1.3020833333333333vw;
      font-weight: 500;
      text-align: center;
      position: relative;
    }
    #footer-last-child-part2 {
      width: 71%;
      height: auto;
      margin: 1.2vw 0 0 4.4vw;
      position: relative;
      #social-icons {
        width: 100%;
        height: 100%;
        padding-bottom: 1vw;
        position: relative;
        i {
          width: 100%;
          height: 100%;
          margin-right: 1.8vw;
          font-size: 1.3020833333333333vw;
          font-weight: 500;
        }
      }
      h4 {
        width: 100%;
        height: 100%;
        font-weight: 500;
      }
    }
  }
}

#random {
  width: 100%;
  height: 4%;
}
