* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  padding: 7% 18% 0 8%;
  display: flex;
}

#section1 {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-rows: 60% 12% 5.5% 22.5%;

  h1 {
    font-size: 8.5vw;
    font-weight: 500;
    line-height: 80%;
  }

  div {
    width: fit-content;

    h3 {
      border: 1px solid black;
      border-radius: 20px;
      padding: 0.390625vw;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.9114583333333334vw;

      #i-beige {
        color: rgb(224, 181, 141);
      }

      #i-gray {
        color: rgb(117, 145, 151);
      }
    }
  }

  p {
    width: 75%;
    line-height: 1.4;
  }
}

#section2 {
  width: 50%;
  height: 100%;
  display: flex;

  h2 {
    width: 40%;
    height: 24%;
    margin-top: 66%;
    transform: rotate(-90deg);
    display: flex;
    align-items: end;
  }

  #section2-right {
    width: 78%;
    display: grid;
    grid-template-rows: 15% 85%;

    #section2-right-top {
      margin: 8% 3% 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        padding-left: 0.13020833333333334vw;
      }
    }

    #section2-right-bottom {
      width: 100%;
      height: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-image: url(https://i.pinimg.com/564x/76/55/fe/7655fee47639c49b18528e72383b0420.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}

#aside {
  width: 7.8125vw;
  height: 17.26618705035971vh;
  border-radius: 100%;
  background-color: rgb(44, 44, 44);
  color: white;
  position: absolute;
  top: 46%;
  left: 79%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
}

@media (max-width: 680px) {
  #main {
    padding: 0 6vw;
    flex-direction: column;
  }

  #section1 {
    width: 100%;
    height: 40%;
    grid-template-rows: 47% 16.5% 9.5% 27%;

    h1 {
      display: flex;
      align-items: center;
      font-size: 3.6em;
      font-weight: 600;
    }

    div {
      padding-top: 0.5vw;

      h3 {
        padding: 1.3vw;
        gap: 1.5vw;
        font-size: 1em;
      }
    }

    p {
      width: 100%;
      height: 100%;
      font-size: 0.83em;
      line-height: 1.14;
    }
  }

  #section2 {
    width: 100%;
    height: 60%;
    padding-top: 4vw;
    flex-direction: column;

    h2 {
      width: 100%;
      height: auto;
      margin: 0vw 0 2vw;
      font-size: 1.5em;
      transform: none;
    }

    #section2-right {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;

      #section2-right-top {
        margin: 2.5vw 0.5vw 6vw;
      }

      #section2-right-bottom {
        border-radius: 0px;
      }
    }
  }

  #aside {
    width: auto;
    height: auto;
    padding: 9vw 2.5vw;
    top: 40.5%;
    left: 74%;
    font-size: 0.8em;
  }
}
