* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
}

#main {
  width: 100%;
  height: 100%;
  background-color: #ededed;
  display: grid;
  grid-template-columns: 50% 50%;
}

#section-left {
  padding: 1.5em 2.5em;
  display: grid;
  grid-template-rows: 23% 62% 15%;
}

#left-top {
  display: flex;
}

#square {
  width: 1.2em;
  height: 1.2em;
  background-color: black;
  rotate: 45deg;
}

#left-top-right {
  width: 100%;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h4 {
    font-size: 1vw;
    font-weight: 500;
  }
}

#left-center {
  padding: 4.5vw 0;
  display: grid;
  align-items: end;

  h1 {
    font-size: 5.8vw;
    font-weight: 500;
    font-family: "Helvetica";
    line-height: 5vw;
  }

  h1:nth-child(2n) {
    text-align: center;
  }
}

#left-bottom {
  background-color: rgb(255, 214, 221);
}

#section-right {
  background-color: rgba(0, 0, 255, 0.178);
}
