* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  ::selection {
    background-color: #fce8b6;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f8f7f4;
}

#page1 {
  width: 100%;
  height: 100%;
  padding-top: 0.006510416666666667vw;

  #nav-component {
    width: 100%;
    height: 14.388489208633093vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    #nav-part1 {
      width: 40%;
      height: auto;
      display: flex;
      justify-content: start;
      align-items: center;
      h4 {
        padding: 0 1.0416666666666667vw;
        font-size: 1em;
        font-weight: 600;
      }
    }
    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
    #nav-part2 {
      width: 40%;
      height: 6.906474820143885vh;
      display: flex;
      justify-content: end;
      align-items: center;
      #search-element > input,
      > input {
        width: auto;
        height: 6.706474820143885vh;
        margin-left: 1.5vw;
        border: transparent;
        border-radius: 30px;
        padding: 0 1.5vw;
        font-size: 1em;
        font-weight: 600;
      }
      #search-element {
        input {
          width: 18vw;
          margin-left: 0;
          outline: none;
          padding-left: 2.8vw;
          font-weight: 400;
          display: block;
        }
        i {
          font-size: 1.11em;
          position: absolute;
          top: 30.5%;
          left: 7.2%;
        }
      }
      #log-in-element {
        border-radius: 0;
        padding: 0;
        background-color: transparent;
      }
      #sign-up-element {
        background-color: #000;
        color: #fff;
      }
    }
    #nav-part1 > h4:hover,
    img:hover,
    #nav-part2 > #log-in-element:hover,
    #nav-part2 > #sign-up-element:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  #content-component {
    width: 100%;
    height: calc(100% - 34.388489208633093vh);
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    h3 {
      width: auto;
      height: auto;
      border-radius: 30px;
      padding: 0.6vw 1.1vw;
      font-size: 1.11em;
      font-weight: 600;
      background-color: #ffff66;
      animation-name: background-color-animation;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    h1 {
      width: 58%;
      height: auto;
      padding: 0 0.9vw;
      font-family: "Source Serif 4", Georgia, serif;
      font-size: 5.125em;
      font-weight: 400;
      line-height: 82px;
      letter-spacing: -0.5px;
    }
    h2 {
      font-size: 1.38em;
      font-weight: 500;
      line-height: 38px;
    }
    input {
      width: auto;
      height: 6.706474820143885vh;
      border: transparent;
      border-radius: 30px;
      padding: 0 1.5vw;
      font-size: 1em;
      font-weight: 600;
      background-color: #000;
      color: #fff;
    }
    input:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}

@keyframes background-color-animation {
  10% {
    background-color: #b2b2ff;
  }
  20% {
    background-color: #ff7373;
  }
  30% {
    background-color: #40e0d0;
  }
  40% {
    background-color: #d3ffce;
  }
  50% {
    background-color: #bada55;
  }
  60% {
    background-color: #ff7f50;
  }
  70% {
    background-color: #ffb2b2;
  }
  80% {
    background-color: #ff80ed;
  }
  90% {
    background-color: #d6c5c6;
  }
  100% {
    background-color: #ffff66;
  }
}
