* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  ::selection {
    background-color: #fce8b6;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

#page1 {
  width: 100%;
  height: 80%;
  padding-top: 0.014388489208633094vh;
  background-color: #f8f7f4;

  #nav-component {
    width: 100%;
    height: 14.388489208633093vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    #nav-part1 {
      width: 40%;
      height: auto;
      display: flex;
      justify-content: start;
      align-items: center;

      h4 {
        padding: 0 1.0416666666666667vw;
        font-size: 1.0416666666666667vw;
        font-weight: 600;
      }
    }

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    #nav-part2 {
      width: 40%;
      height: 6.906474820143885vh;
      display: flex;
      justify-content: end;
      align-items: center;

      #search-element > input,
      > input {
        width: auto;
        height: 6.7vh;
        margin-left: 1.5vw;
        border: transparent;
        border-radius: 30px;
        padding: 0 1.5vw;
        font-size: 0.9vw;
        font-weight: 600;
      }

      #search-element {
        input {
          width: 18vw;
          margin-left: 0;
          outline: none;
          padding-left: 2.8vw;
          font-weight: 400;
          display: block;
        }

        i {
          font-size: 1.0562500000000002vw;
          position: absolute;
          top: 29.5%;
          left: 7%;
        }
      }

      #log-in-element {
        border-radius: 0;
        padding: 0;
        background-color: transparent;
      }

      #sign-up-element {
        background-color: #000;
        color: #fff;
      }
    }

    #nav-part1 > h4:hover,
    img:hover,
    #nav-part2 > #log-in-element:hover,
    #nav-part2 > #sign-up-element:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  #content-component {
    width: 100%;
    height: calc(100% - 14.388489208633093vh);
    padding-top: 11.050359712230216vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    h3 {
      width: auto;
      height: auto;
      border-radius: 30px;
      padding: 1.5vh 1.1vw;
      font-size: 1.1562500000000002vw;
      font-weight: 600;
      background-color: #ffff66;
      animation-name: background-color-animation;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    h1 {
      width: 58%;
      height: auto;
      padding: 0 0.9vw;
      font-family: "Source Serif 4", Georgia, serif;
      font-size: 5.338541666666667vw;
      font-weight: 400;
      line-height: 82px;
      letter-spacing: -0.5px;
    }

    h2 {
      font-size: 1.4375vw;
      font-weight: 500;
    }

    input {
      width: auto;
      height: 6.706474820143885vh;
      border: transparent;
      border-radius: 30px;
      padding: 0 1.5vw;
      font-size: 1.0416666666666667vw;
      font-weight: 600;
      background-color: #000;
      color: #fff;
    }

    input:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}

@keyframes background-color-animation {
  10% {
    background-color: #b2b2ff;
  }

  20% {
    background-color: #ff7373;
  }

  30% {
    background-color: #40e0d0;
  }

  40% {
    background-color: #d3ffce;
  }

  50% {
    background-color: #bada55;
  }

  60% {
    background-color: #ff7f50;
  }

  70% {
    background-color: #ffb2b2;
  }

  80% {
    background-color: #ff80ed;
  }

  90% {
    background-color: #d6c5c6;
  }

  100% {
    background-color: #ffff66;
  }
}

#marquee-component {
  width: 100%;
  height: 70vh;
  white-space: nowrap;
  overflow: hidden;
  background-image: linear-gradient(180deg, #f8f7f4, #ffffff);

  .marquee-container {
    width: 100%;
    height: 100%;
    padding: 11.05vh 0;
    display: inline-block;
    animation-name: marquee-animation;
    animation-duration: 30s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .container-content {
      width: calc(100% / 6.7);
      height: 100%;
      margin: 0 0.8vw;
      display: inline-block;

      img {
        width: 100%;
        height: 100%;
        border-radius: 35px;
        object-fit: cover;
      }

      .content-info {
        width: 95%;
        height: auto;
        position: absolute;
        bottom: 5%;
        color: rgb(255, 255, 255);

        h4 {
          width: 85%;
          height: auto;
          margin: 0.8840287769784174vh 0 0 0.7vw;
          font-size: 1.0416666666666667vw;
          font-weight: 500;
        }

        .content-info-domain {
          width: auto;
          height: auto;
          margin-top: 1.7680575539568348vh;
          display: flex;
          justify-content: start;

          h5 {
            margin-right: 0.35vw;
            border: 1px solid #ffffff59;
            border-radius: 20px;
            padding: 0.8840287769784174vh 0.7vw;
            text-align: center;
            font-size: 0.79vw;
            font-weight: 600;
          }
        }
      }
    }
  }

  div:last-child {
    margin: 0 0.4vw;
  }
}

@keyframes marquee-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#page2 {
  width: 100%;
  height: auto;
  padding-bottom: 26.5vh;

  #page2-heading-component {
    width: 100%;
    height: auto;
    margin: 4.0143884892086vh 0vw 6.630215827338129vh 0vw;
    text-align: center;

    h1 {
      padding: 1.1vh 0;
      font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 3.3854166666666665vw;
      font-weight: 400;
      line-height: 56px;
    }
  }

  #page2-design-component {
    width: 100%;
    height: auto;
    padding-left: 4.7vw;

    .inside-design-component {
      width: 20.9vw;
      height: 40vh;
      margin: 0 1.9vw 5.083165467625899vh 0;
      display: inline-block;

      img {
        width: 100%;
        height: 35vh;
        border-radius: 15px;
        object-fit: cover;
      }

      .hover-component-inside-page2 {
        width: 100%;
        height: 10vh;
        border-radius: 15px;
        padding: 0 1vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 12.5%;
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.829),
          transparent
        );
        color: #ffffff;
        font-size: 1vw;
        opacity: 0;

        h4 {
          width: 60%;
          height: auto;
          font-weight: 500;
        }

        i {
          width: 2.5692708333333335vw;
          height: 5.699280575539568vh;
          margin-bottom: 0.4420143884892087vh;
          border-radius: 50px;
          padding: 1.77vh 0;
          text-align: center;
          background-color: #ffffff;
          color: #000;
        }
      }

      .text-component-inside-page2 {
        width: 100%;
        height: 4.5vh;
        padding-top: 0.33vh;
        display: flex;
        text-align: center;

        .left-text-component {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: start;
          align-items: center;

          img {
            width: 1.723125vw;
            height: 3.906546762589928vh;
            margin: 0 0.5vw 0 0.15vw;
            object-fit: cover;
          }

          h4 {
            margin-right: 0.5vw;
            padding-top: 0.3vh;
            font-size: 0.95vw;
            font-weight: 500;
            line-height: 16px;
            color: #0d0c22;
            text-align: left;
          }

          h6 {
            border-radius: 5px;
            padding: 0.25vw;
            font-size: 0.7vw;
            background-color: #6e6d7a86;
            color: #fff;
          }

          h6:hover {
            background-color: #000;
          }
        }

        .right-text-component {
          width: auto;
          height: 100%;
          display: flex;
          justify-content: end;
          align-items: center;

          i {
            margin-left: 0.5vw;
            font-size: 1.25vw;
            color: #a39aaa;
          }

          h5 {
            margin: 0 0.16vw 0 0.2vw;
            font-size: 0.9114583333333334vw;
            font-weight: 500;
            line-height: 20px;
            color: #3d3d4e;
          }
        }
      }

      img:hover,
      .hover-component-inside-page2:hover,
      .hover-component-inside-page2 > i:hover,
      .left-text-component:hover,
      .right-text-component > i:first-child:hover {
        cursor: pointer;
      }

      .hover-component-inside-page2 > i:hover {
        color: #a39aaa;
      }

      .hover-component-inside-page2 > i:last-child:hover,
      .right-text-component > i:first-child:hover {
        color: rgb(255, 0, 0);
      }
    }

    .inside-design-component:hover > .hover-component-inside-page2 {
      opacity: 1;
    }
  }
}

@media (max-width: 640px) {
}
